{% extends "loggedin.html" %}
{% block heading %}
<title>Dashboard</title>
{% endblock %}

{% block body %}
    <div class = "container">
        <form class = "search_movie" action = "{{ url_for('search') }}" method = "post">
          <div class="form-group">
                <label for="search">Search for a movie</label>
                <input name = "search_movies" id = "search" class="form-control" type="text" placeholder="Search for a movie based movieid, Name, or Author" autocomplete="off">
                <button type="submit" class="btn btn-primary" name = "search_button">Submit</button>
          </div>
        </form>
    </div>
{% endblock %}
